.Sidebar-Item {
  text-align: center;
  margin-left: 12px;
}
.item-container-Expanded {
  display: flex;
  flex-direction: row;
  background-color: #91c8e4;
  width: 60%;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
}
.item-container-Collapsed {
  display: flex;
  flex-direction: row;
  background-color: #91c8e4;

  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
}

.items {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 3px;
  color: #f6f4eb;
  margin-top: 3px;
}

.item-name {
  text-align: center;
  font-size: 15px;
  margin: 5px;
  color: #f6f4eb;
}
